body{
    background-color: #fcfc62;

}
.container{
    border: 1px solid black;
    width: 20rem;
    height:30vh;
    margin: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.counter{
    border: 5px solid black;
    width: 600px;
    height: 25vh;
    margin: auto;
    padding:5px;
    text-align: center;
    justify-content: center;
    background: repeating-linear-gradient(#f0c3e3 , #fcfc62);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.counter h1{
    font-size: 2rem;

}
#count{
    font-size:2rem;
    
}
